{% extends '__layout__.html' %}
{% block title %}Forbidden{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div class="flex items-center justify-center" style="height: calc( 100vh - 100px);">
    <div class="w-full max-w-sm">
        <div class="bg-white rounded-md px-8 p-6 border shadow-md flex items-center al border-gray-300">
            <h1 class="text-6xl font-semibold drop-shadow-md">403</h1>
            <p class="text-gray-700 text-xs text-start ms-2 h-fit">You are forbidden from accessing this page.</p>
        </form>
    </div>
</div>
{% endblock %}